.container {
    margin-top:-20px;
   
}

.board {
    display: grid;
    width: 440px;
    height: 440px;
    border: 2px solid black;
}

.error {
    display:none;
    position:relative;
    
    color: white;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
background: linear-gradient
}

.colors {
    display: block;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 5px;
}

.buttons {
    margin-left: -60px;
}

button {
    border-radius: 7px;
    
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

#red {
    background-color: red;
}


#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: #b300b3;
}

#green {
    background-color: #33ff77;
}

#pink {
    background-color: #ff80d5;
}

#orange {
    background-color: orange;
}

#aqua {
    background-color: #66ffe6;
}

.colorButtons {
    margin-top: -439px;
    border-color: white;
}

.size {
      
    position: relative;
    top: -36px;
    
    
}

h1 {
    position: relative;
    bottom: -15px;
    left: -5px;
    color: white;
    text-shadow: 0 0 5px black;
}

.mode {
    font-size: 18px;
    position: relative;
    right: 180px;
    color: white;
    text-shadow: 0 0 2px black;
}

body {
    background-image: linear-gradient(to bottom right, #ff6699, #7700b3);
    align-items: center;
}

input {
    border: 2px solid black;
    position: relative;
    left: 1px;
}

#sizeButton {
    background-color: #e6ffff;
    position: relative;
    left: 5px;
}

#clear {
    height: 40px;
    width: 100px;
    position: relative;
    left: 510px;
    bottom: 41px;
    font-size: 16px;
    padding-top: 3px;
    background-image: linear-gradient(to bottom right,#fbffe6, #ffeecc);
}
